{% extends 'registration/base.html' %}

{% load static %}

{% block css %}
<style>
    .login-card {
        max-width: 500px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .full-page {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock css %}

{% block content %}

<div class="full-page">
    <div class="card login-card">
        <div class="card-body">
            <h2>Successfully logged out</h2>
            <p>You have been signed out. What to do next?</p>
            <a href="{% url 'login'%}">
                <button type="submit" class="btn btn-primary">Sign in again</button>
            </a>
            <a href="{% url 'polls:index' %}">
                <button class="btn btn-secondary">Back to home page</button>
            </a>

        </div>
    </div>
</div>
{% endblock content %}