{% extends 'registration/base.html' %}

{% load static %}

{% block css %}
<style>
    .login-card {
        max-width: 500px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .full-page {
        width: 100%;
        height: 100%;
    }

    .input-field {
        margin-top: 10px;
        margin-bottom: 10px
    }
</style>
{% endblock css %}


{% block content %}
<div class="full-page">
    <div class="card login-card">
        <div class="card-body">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <div class="input-field">
                    <input type="input" class="form-control" name="username" id="inputEmail" placeholder="Username"
                        required>
                </div>
                <div class="input-field">
                    <input type="password" class="form-control" name="password" id="inputPass" placeholder="Password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>

                <input type="hidden" name="next" value="{{next}}" />
            </form>
            <a href="/signup/">
                <button type="submit" class="btn btn-primary">Register</button>
            </a>
            {# If you have written a password_reset template, then add here #}
            <p>
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}

</html>