{% load static %}

<html>

<head>
  <title>KU Polls</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
  {% block css %}{% endblock css %}
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'polls:index' %}">
      <div class="navbar-brand">
        <img src="{% static 'polls/images/KU_logo.svg'%}" width="30" height="30" alt="KU Logo">
        Polls
      </div>
    </a>
  </nav>
  {% block content %}{% endblock content%}

  {% block script %}{% endblock script %}
</body>

</html>