{% extends 'polls/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/empty-state.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/hover-zoom-effect.css' %}">
{% endblock css %}

{% block content %}
<div class="card main-card">
  <div class="card-body">
    <h2>Polls List</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% if latest_question_list %}
    {% for question in latest_question_list %}
    <div class="card question-card">
      <div class="question-card-content">
        <div class="question-card-info">
          <div class="card-body">
            {{question.question_text}}
            {% if not question.can_vote %}
            <span class="badge rounded-pill bg-warning text-dark">
              {% if question.is_published %}
              Poll ended
              {% else %}
              Poll not opened yet
              {% endif %}
            </span>
            {% endif %}
            <div class="card-detail-question-id">
              Question ID: {{question.id}}
            </div>
          </div>
        </div>

        <!-- Question action button -->
        <div class="question-card-actions">
          {% if question.is_published %}
          <a class="question-action-button question-action-button-view-poll-result"
            href="{% url 'polls:results' question.id %}">
            <div class="card question-action-button-view-poll-result hover-zoom-effect">
              <div class="question-card-content">
                <div class="card-body">
                  View Poll result
                </div>
                <div class="arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
          {% if question.can_vote %}
          <a class="question-action-button question-action-button-vote" href="{% url 'polls:detail' question.id %}">
            <div class="card question-action-button-vote hover-zoom-effect">
              <div class="question-card-content">
                <div class="card-body">
                  Vote
                </div>
                <div class="arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="empty-state">
      <div class="empty-state-icon">
        <i class="bi bi-patch-question-fill"></i>
      </div>
      <div class="empty-state-text">
        No polls are available.
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}