.question-card {
  margin: 20px;
}
.question-card-content {
  display: inline-flex;
}

.arrow {
  display: flex;
  align-items: center;
  padding-right: 30px;
  transition: 0.2s;
}

.question-card:hover .arrow {
  padding-right: 10px;
  transition: 0.2s;
}
